<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="navigationheader">
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px" th:fragment="navigationheader">
    <div class="col-md-6 col-md-offset-3">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Recipes</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{'/recipe/list'}">Show all</a></li>
                    <li><a href="#" th:href="@{'/recipe/new'}">Add new</a></li>
                    <li><a style="margin-left: 150px">[[${#httpServletRequest.remoteUser}]]</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>

                        <a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>


<!--<form th:action="@{/logout}" method="post">-->
    <!--<input type="submit" value="Sign Out"/>-->
<!--</form>-->